* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(1, 1, 56);
    background-size: cover;
    align-items: center;
    background-color: white;
    /* background-image: url("Images/brickwall.jpg") ; */
}

.container {
    width: 650px;
    background-color: transparent;
    height: 300px;
    padding: 50px;
    margin: auto;
    margin-top: 80px;
    border-radius: 15px; 
    display: flex;
    background-position: auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#end-screen {
    display: none;
}

#timerDisplay, #scoreDisplay {

}

.quiz {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.left-side,
.right-side {
    width: 50%;
}

.right-side h2 {
    color: white;
}

.right-side h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
}

.right-side ul {
    padding: 5px;
    list-style-type: circle;
    list-style-position: inside;
    font-weight: 600;
    line-height: 25px;
    color: white;
}

.start-button {
    background-color: transparent;
    color:#ffff;
    width: 100%;
    font-weight: 600;
    font-family: inherit;
    border-radius: 15px;
    margin-top: 30px;
    height: 30px;
}










